{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h2>Sell Stock</h2>
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="custom-select" name="symbol">
              <option disabled selected value=''>Select Symbol</option>
              {% for row in data %}
                  <option>{{ row.symbol }}</option>
              {% endfor %}
            </select>
            <br><br>
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="numer">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
